/* <Global> */

:root {
  /* Color(페이지 전반에 쓰이는) */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-green: #bdffeb;
  --color-orange: #feb546;
  --color-black: #000000;
  --color-purple: #8e41f2;

  /* Font size(크기별로 나눠서 많이 씀) */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight(구글 폰트에서 정한 거) */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-boder-radius: 4px;

  /* Animation */
  --animation-duration: 300ms;
}

/* <Universal tags(공통적으로 적용되는)> */
* {
  box-sizing: border-box; /*★*/
}

body {
  font-family: "Open Sans", sans-serif; /*구글 폰트 적용(사이트에서 복사한 것)*/
  margin: 0; /*body에 들어가있는 margin 없애주기*/
  cursor: default; /*커서가 텍스트에 올라가도 텍스트커서로 바뀌지 않도록*/
}

a {
  text-decoration: none; /*링크의 밑줄 없애기*/
  color: var(--color-white);
}

ul {
  padding-left: 0; /*ul에 들어가있는 padding 없애기*/
}

li {
  list-style: none; /*리스트 앞에 점 없어짐*/
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
} /*버튼의 '미리 설정돼있는 기본속성' 바꾸기(그 다음에 다시 꾸미기)*/

/* <Typography> */

h1 {
  font-size: var(--font-large); /*변수 사용*/
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px; /*위아래 왼오*/
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/* <Navbar> */
#navbar {
  position: fixed; /*n.윈도우 기준,홈 위로 위치 옮기기->부모 위로 나와서 너비가 컨텐츠 크기로 변경됐기 때문에, width 100%로 바꿔주기*/
  width: 100%; /*n*/

  display: flex; /*너 이제 flex box임*/
  justify-content: space-between; /*navbar박스 안에 있는 박스 2개의, 중심축에서의 배치*/
  align-items: center; /*박스 2개의, 반대축에서의 배치*/

  color: var(--color-black); /*텍스트 색상*/
  padding: 4px; /*content가 안쪽으로 들어오도록*/

  background-color: transparent; /*n*/
  z-index: 1; /*n.navbar가 항상 다른 섹션들보다 위에 있게*/
  transition: all var(--animation-duration) ease-in-out; /*n*/
} /*navar박스 안에서*/

#navbar.navbar--dark {
  background-color: var(--color-purple);
  padding: 8px; /*padding 줄이기*/
} /*n.js 후에, css와서 그 class 추가한 다음 새로 스타일링*/

.navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-green);
} /*navar__logo박스 안에서*/

.navbar__menu {
  display: flex; /*안에 있는 박스들이 row방향으로 정렬됨(flex-direction속성의 기본값이 row이므로)*/
} /*navar__menu박스 안에서*/

.navbar__menu__item {
  padding: 8px 12px;
  margin: 0 4px; /*item사이 간격 주기*/
  cursor: pointer; /*손가락모양 커서로 바뀌도록(사용자에게 클릭 가능함을 알려줌)*/

  border: 1px solid transparent;
  border-radius: var(--size-boder-radius);
  /*border가 직각이 아니라 둥그스름하게*/
}

.navbar__menu__item:hover {
  /* *border가 아니라 border-color라고 써줘야됨!*/
  border-color: var(--color-white);
  background-color: var(--color-green);
} /*menu item에 '마우스가 올라갔을 때(hover)' 바뀌도록*/

.navbar__toggle-btn {
  position: absolute; /*왜 부모의 오른쪽에서 움직이지?->left:-32px이 아니라 'right':32px이라서*/
  top: 9px;
  right: 16px; /*'right'->부모의 오른쪽에서 움직임*/

  font-size: var(--font-medium);
  color: var(--color-white);

  display: none; /*평소에는 보이면 안되기 때문 (화면이 768px보다 작을 때만 보여져야된다)*/ /*opacity는 클릭이 되므로 여기선 사용안하는게 좋음*/
} /*toggle button 스타일링*/

/* <Home> */
#home {
  background: url("imgs/home-background.png") center/cover no-repeat; /*home section에 배경 이미지 넣기,cover는 반응형*/
  padding: 40px; /*content가 안쪽으로 들어오도록*/
  padding-top: 120px; /*n.navbar와 home 사이 간격 주기 위해*/
  text-align: center; /*블럭레벨은x,인라인레벨만 정렬가능*/
}

.home__avatar {
  width: 250px;
  height: 250px;
  border-radius: 50%; /*완전 동그랗게*/
  border: 2px solid var(--color-light-white); /*흰테두리 만들기*/
}

.home__title,
.home__description {
  color: var(--color-black);
}

.home__contact {
  color: var(--color-black);
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-black); /*기본속성 이전에 바꾼 후, 다시 꾸미기*/
  border-radius: var(--size-boder-radius);
} /*button*/

.home__contact:hover {
  background-color: var(--color-green);
}

/* <Section common(About부터)> */
.section {
  padding: 50px;
  padding-top: 75px; /*navbar가 section을 가리지 않게*/
  text-align: center;
  /*margin: auto; margin이 양쪽에 골고루 분배되어 센터로 오도록(max-width를 이 클래스에 포함했을 때만 사용?!)*/
} /*공통적인 것 정의하기 위해,section class 만들고 html(About섹션부터)에 추가하기*/

.section__container {
  max-width: 1200px; /*★*/
  margin: auto;
} /*이 class 만들어서 html에(About,Skills,Like,Clubs) class추가하기*/

/* <About> */
.about__things {
  display: flex;
  justify-content: space-evenly; /*엘리쌤은 space-between 썼음*/

  margin: 80px 0;
}

.things__icon {
  width: 170px; /*아이콘의 사이즈가 아니라, 아이콘이 들어있는 div박스의 사이즈!*/
  height: 170px;
  line-height: 170px; /*아이콘이 div박스의 수직으로 중간에 오도록*/
  font-size: 70px; /*아이콘의 사이즈!*/
  margin: auto;
  border: 1px solid var(--color-blue); /*테두리 만들기*/
  border-radius: 50%;
  margin-bottom: 16px; /*아래쪽과 간격 주기->margin!*/
  color: var(--color-blue); /*아이콘 색깔 바뀜*/
}

.things__icon:hover i {
  color: var(--color-pink);
  transform: rotate(-30deg) scale(1.1);
} /*'아이콘 박스'에 마우스가 올라가면, '아이콘'이 분홍색으로 바뀌고,왼쪽으로 30도 회전, 1.1배 커지도록*/

.things__icon i {
  transition: all var(--animation-duration) ease;
} /*아이콘에 smooth한 변화도 주기*/

.things__title,
.things__description {
  color: var(--color-dark-grey);
}

.things__description {
  font-size: var(--font-small);
}

/* <Skills> */
#skills {
  background-color: var(--color-green);
}

.skillset {
  display: flex;
  background-color: var(--color-light-grey);
  color: var(--color-light-white);
  margin: 20px 0; /*스페이싱 주기*/
}

/*개발자도구 확인해보니 skillset의 width는 이미 100%,
근데 left와 right이 자리 차지를 다 못하고 있으니까 flex-basis를 준다*/
.skillset__left {
  flex-basis: 60%; /*flex-basis*/
  background-color: var(--color-dark-grey);
  padding: 20px 40px;
}

.skillset__right {
  flex-basis: 40%; /*flex-basis*/
}

.skillset__title {
  color: var(--color-white);
}

.skill__description {
  display: flex;
  justify-content: space-between;
} /*skill__description박스 안에 있는 span태그 2개*/

/*프로그레스바 만들기*/
.skill__bar {
  width: 100%;
  height: 3px;
  background-color: var(--color-grey);
} /*이 div태그는 content가 없기 때문에, 프로그레스바 배경만들 때 width와 height 지정해줘야됨*/

.skill__value {
  height: 3px;
  background-color: var(--color-orange);
} /* width는 'html태그에 style속성 이용해 각각 적용'!!*/
/*여기까지*/

.skill {
  margin-bottom: 32px;
} /*스페이싱 주기*/

.tools {
  background-color: var(--color-grey);
}

.tools,
.etc {
  padding: 20px;
}

/* <Like> */
/*categories*/
.like__categories {
  margin: 40px;
} /*스페이싱 주기*/

.category__btn {
  border: 1px solid var(--color-dark-white);
  border-radius: var(--size-boder-radius);
  font-size: var(--font-regular);
  padding: 8px 48px;

  position: relative; /*count의 position:absolute의 조건을 만족하기 위해*/
}

.category__btn.active,
.category__btn:hover {
  background-color: var(--color-pink);
  color: var(--color-white);
} /*카테고리 버튼에 active라는 class가 있거나/마우스가 올라가면*/

.category__count {
  background-color: var(--color-orange);
  border-radius: 50%; /*50%인데 동그라미가 안예쁜 이유는 contents를 꽉 감싸주는 span태그이기 때문. 따라서 인라인블록으로 바꾸자*/
  display: inline-block;
  width: 24px;
  height: 24px;
  line-height: 24px;
  color: var(--color-white);

  /*position: relative; ->이걸 적용하면, count가 보이지 않아도 버튼 안의 자리 차지해서 버튼 안의 텍스트가 중간 정렬 안된 것처럼 보임*/
  position: absolute;
  top: -20px; /*ani*/
  right: 16px;

  opacity: 0; /*ani*/ /*평소에는 보이지 않도록*/
  transition: all var(--animation-duration) ease-in; /*ani*/
}

.category__btn.active .category__count,
.category__btn:hover .category__count {
  opacity: 1; /*ani*/
  top: 0; /*ani*/
} /*category__count가 평소에 위치가 위쪽으로 올라가있고 눈에 보이지 않다가, category__btn의 class가 active거나 마우스가 올라갔을 때 category__count의 위치가 아래로 내려오면서 눈에 보이도록 설정*/

/*projects*/
.like__projects {
  display: flex;
  flex-wrap: wrap; /*한줄에 아이템이 꽉차면 자동으로 줄바꿈하도록*/
  justify-content: center;

  opacity: 1; /*anim*/
  transition: all var(--animation-duration) ease-out; /*anim*/
}

.like__projects.anim-out {
  opacity: 0;
  transform: scale(0.96) translateY(40px);
} /*anim*/

.project {
  position: relative; /*.project__description에 position: absolute를 사용하기 위해 써줘야됨!*/
  width: 200px;
  height: 250px;
  margin: 2px;
  background-color: var(--color-light-white);

  display: flex;
  justify-content: center;
  align-items: center; /*이거 포함해서 위에 세줄 이용해, 수평/수직으로 중간정렬*/
}

.project.invisible {
  display: none;
} /*project 클래스에 invisible 추가*/

.project__img {
  max-width: 100%;
  max-height: 100%;
} /*자기가 들어있는 박스 안에서만 최대로 커지도록*/

/*프로젝트에 마우스를 올렸을 때, 투명한 검정화면에 프로젝트 설명이 나오도록*/
.project__description {
  position: absolute; /*static아닌 근접한 부모(.project)에서 움직임*/
  top: 0;
  left: 0;

  background-color: var(--color-black);
  width: 100%; /*들어있는 박스의 100%를 쓸거다*/
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center; /* *이거 포함해서 위에 세줄 이용해, 설명을 중간에 정렬*/

  opacity: 0; /*ani*/
  transform: translateY(10px); /*ani*/
  transition: all var(--animation-duration) ease-in; /*ani*/
}

.project:hover .project__description {
  opacity: 0.8; /*ani*/
  transform: translateY(0px); /*ani*/ /*스르륵 위로 올라오는 느낌*/
}

.project__description h3 {
  color: var(--color-orange);
} /*태그를 특정하게 지정*/

.project__description h3:after {
  content: "";
  width: 50px;
  height: 2px;
  background-color: var(--color-dark-white);
  display: block; /*한줄에 하나씩 들어가게*/

  position: relative;
  left: 50%; /*★*/ /*percentage가 쓰임!*/ /*'부모'의 50%만큼*/
  transform: translateX(-50%); /*★*/ /*'라인 자체'의 50%만큼 왼쪽으로 이동*/
  margin-top: 8px; /*이거 포함해서 위에 네줄 이용해서, 선 위치조정*/
} /*h3 다음에(after) 비어있는 색있는 content 넣어줘서,스택(h3)과 설명(span) 사이에 선 넣어주기*/

/*내가 한 것
.project__description__line {
  width: 25px;
  height: 2px;
  background-color: var(--color-dark-white);
} 
*/

/* <Clubs> */
#clubs {
  background-color: var(--color-light-white);
}

.clubs {
  margin: 40px;
} /*스페이싱 주기*/

.club {
  display: flex;
  margin: 32px 0;
}

.club__avatar {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  margin: 12px;
}

.club__avatar:nth-child(odd) {
  margin-right: 40px;
} /*nth-child이용해서 odd(홀수번째)일 때*/

.club__avatar:nth-child(even) {
  margin-left: 40px;
} /*nth-child이용해서 even(짝수번째)일 때*/

.club__speech-bubble {
  padding: 18px; /*conent 안쪽으로 넣어주기*/
  background-color: var(--color-white);
  border-radius: var(--size-boder-radius);
  width: 73%;

  display: flex;
  flex-direction: column;
  justify-content: center; /* *이거 포함해서 위에 세줄 내가 넣은 것*/
}

.club__speech-bubble p {
  color: var(--color-light-grey);
} /*위에서 디폴트로 설정돼있던 p태그의 색상을 바꿔줌*/

.club__speech-bubble a {
  color: var(--color-pink);
} /*위에서 디폴트로 설정돼있던 a태그의 색상을 바꿔줌*/

/* <Contact> */
#contact {
  background-color: var(--color-purple);
}

.contact__title,
.contact__email,
.contact__rights {
  color: var(--color-white);
}

.contact__title {
  margin: 32px 0;
}

.contact__links {
  font-size: var(--font-large); /*아이콘 사이즈 키우기*/
  margin: 24px 0;
}

.contact__links i:hover {
  transform: scale(1.1);
  color: var(--color-green);
  transition: all var(--animation-duration) ease-in;
} /*아이콘에 마우스가 올라가면, 아이콘 크기가 커지고 색깔 바뀌게*/

/* <Scroll> */
.arrow-up {
  position: fixed; /*부모에서 나와서 윈도우에서(스크롤해도 위치 그대로)*/
  bottom: 30px; /*'bottom으로부터' 이동!*/
  right: 30px;

  width: 60px;
  height: 60px;
  font-size: 40px;
  color: var(--color-white);
  background-color: var(--color-black);
  border-radius: 50%;

  /*display: none; /*안보이다가*/
  opacity: 0; /*display:none 대신에*/
  pointer-events: none; /*클릭이 되지 않게*/
  transition: all 300ms ease-in;
}

.arrow-up.visible {
  /*display: block; /*보이게*/
  opacity: 1;
  pointer-events: auto;
}

/* <반응형> */
@media screen and (max-width: 768px) {
  :root {
    --font-large: 30px;
    --font-medium: 18px;
    --font-regular: 16px;
    --font-small: 14px;
    --font-micro: 12px;
  } /* font size 변수의 값을 재설정 */

  /*Navbar*/
  .navbar__toggle-btn {
    display: block;
  } /* *toggle button 보여주기*/

  #navbar {
    flex-direction: column; /*박스2개(토글아닌 아이콘박스와 메뉴박스?!)가 열로 정렬*/ /* *열 쪽이 '중심축'이 됨!*/
    align-items: flex-start; /* *박스 2개를 왼쪽으로 정렬하려면, '반대축'에서 flex-start 사용*/

    background-color: var(--color-purple); /*원래는 transparent였음*/
    padding: 8px;
  }

  .navbar__menu {
    display: none; /* *메뉴 안보이도록*/

    flex-direction: column;
    text-align: center; /*이래도 중간정렬 안되면(개발자도구 확인!) 메뉴 width가 작은거기 때문에 100%로 해주기*/

    width: 100%;
  }

  .navbar__menu.open {
    display: block;
  }

  .section {
    padding: 16px; /*padding 줄이기*/
    padding-top: 40px; /*navbar가 section을 가리지 않게*/
  }

  /*About*/
  .about__things {
    flex-direction: column;

    margin-top: 30px;
    margin-bottom: 0px;
  }

  .thing {
    margin-bottom: 30px;
  }

  /*Skills*/
  .skillset {
    flex-direction: column;
  }

  /*Like*/
  .project {
    flex-grow: 1; /*화면에 딱맞게(꽉차게)*/
  }

  .category__btn {
    margin: 4px 0;
    width: 100%;
  }

  /*Clubs*/
  .club {
    flex-direction: column;
    align-items: center;
  }

  .club__avatar {
    width: 130px;
    height: 130px;
  }

  .club__speech-bubble {
    order: 1;
  } /*club이라는 flex-box안에 avatar와 speech bubble이라는 item들이 있는데, 무조건 avatar가 speech bubble보다 먼저 오도록->order속성 이용(order속성의 기본값은 0)*/

  .club__avatar:nth-child(even),
  .club__avatar:nth-child(odd) {
    margin: 0;
    margin-bottom: 8px;
  } /*.club__avatar이 아닌 여기에 설정*/

  /*Scroll*/
  .arrow-up {
    width: 50px;
    height: 50px;
    font-size: 30px;
    line-height: 50px; /*화살표 아이콘을 버튼(부모) 안에서 '수직'으로 중간 정렬*/

    right: 16px;
    bottom: 16px;
  }
}
